In [11]:
import pandas as pd


payments = pd.read_csv("data/home_credit/installments_payments.csv")
cash_position = pd.read_csv("data/home_credit/POS_CASH_balance.csv")

In [12]:
# Inspecting the data
payments.head(10)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470

In [13]:
cash_position.head(10)
cash_position.NAME_CONTRACT_STATUS.unique()

array(['Active', 'Completed', 'Signed', 'Approved',
       'Returned to the store', 'Demand', 'Canceled', 'XNA',
       'Amortized debt'], dtype=object)

In [14]:
# Observing the behavior of a single previous loan
data_single_loan = payments[payments['SK_ID_PREV'] == 2714724]
data_single_loan.sort_values(by=['NUM_INSTALMENT_NUMBER'], inplace=True)
data_single_loan["payments_due_days"] = (data_single_loan.DAYS_ENTRY_PAYMENT - data_single_loan.DAYS_INSTALMENT)

print(data_single_loan)

         SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  \
2843935     2714724      167756                     1.0
4           2714724      167756                     1.0
1786772     2714724      167756                     1.0
422906      2714724      167756                     1.0
2998490     2714724      167756                     1.0
2201494     2714724      167756                     2.0

         NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  \
2843935                      1          -1413.0             -1421.0
4                            2          -1383.0             -1366.0
1786772                      2          -1383.0             -1421.0
422906                       3          -1353.0             -1366.0
2998490                      3          -1353.0             -1336.0
2201494                      4          -1323.0             -1336.0

         AMT_INSTALMENT  AMT_PAYMENT  payments_due_days
2843935         2165.04     2165.040               -8.0
4               2165.04     2160.585               17.0
1786772         2165.04        4.455              -38.0
422906          2165.04        8.415              -13.0
2998490         2165.04     2156.625               17.0
2201494         9691.29     9691.290              -13.0

<ipython-input-14-f1b7d74ca553>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_single_loan.sort_values(by=['NUM_INSTALMENT_NUMBER'], inplace=True)
<ipython-input-14-f1b7d74ca553>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_single_loan["payments_due_days"] = (data_single_loan.DAYS_ENTRY_PAYMENT - data_single_loan.DAYS_INSTALMENT)

In [15]:
cash_position_single_loan = cash_position[cash_position['SK_ID_PREV'] == 2714724]
cash_position_single_loan.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)

print(cash_position_single_loan)

         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  \
7673576     2714724      167756             -47             8.0
8660962     2714724      167756             -46             8.0
1860851     2714724      167756             -45             8.0
2753540     2714724      167756             -44             8.0
686245      2714724      167756             -43             4.0

         CNT_INSTALMENT_FUTURE NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
7673576                    4.0               Active       0           0
8660962                    3.0               Active       0           0
1860851                    2.0               Active      15          15
2753540                    1.0               Active      16          16
686245                     0.0            Completed       0           0

<ipython-input-15-598bc0cda353>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cash_position_single_loan.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)

In [16]:
contracts_in_default = cash_position.query("SK_DPD >= 30")

print(f'Total number of contracts in default area {contracts_in_default.SK_ID_PREV.nunique()}')

Total number of contracts in default area 8678

In [17]:
contracts_canceled = cash_position.query("NAME_CONTRACT_STATUS == 'Canceled'")

print(f'Total number of contracts in default area {contracts_canceled.SK_ID_PREV.nunique()}')

contracts_canceled.head(20)

Total number of contracts in default area 15

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
972025,2200360,256843,-6,NaN,NaN,Canceled,0,0
3804943,2762733,307509,-37,12.0,12.0,Canceled,0,0
4727178,1720362,387292,-19,NaN,NaN,Canceled,0,0
5018718,1531600,103793,-28,NaN,NaN,Canceled,0,0
7348078,2239989,347381,-2,NaN,NaN,Canceled,0,0
7556193,2134263,366250,-8,NaN,NaN,Canceled,0,0
7617341,2122901,390665,-3,NaN,NaN,Canceled,0,0
8255924,1287451,408925,-14,NaN,NaN,Canceled,0,0
8284174,1179494,186302,-57,11.0,11.0,Canceled,0,0
8433676,1176218,253007,-23,NaN,NaN,Canceled,0,0
9406687,1071058,382630,-29,24.0,24.0,Canceled,0,0
9512226,1546576,397946,-3,NaN,NaN,Canceled,0,0
9530721,1976128,349795,-18,NaN,NaN,Canceled,0,0
9580616,1764746,256152,-29,NaN,NaN,Canceled,0,0
9856282,1160113,236646,-2,NaN,NaN,Canceled,0,0

In [18]:
# Build the sequence of payments days and the next payment installment situation

# Para cada SK_ID_PREV:
### ordenar os pagamentos
### montar a sequencia de pagamentos ate t-1 e o resultado em t
### e.g: (para SK_ID_PREV == 1054186)
#### [8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0] 5 OR On-time
#### [8, 7, 5, 0, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 5, 7, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 5, 7, 7, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 5, 7, 7, 7, 0, 0, 0, 0, 0] 25 OR On-time
#### [8, 7, 5, 7, 7, 7, 25, 0, 0, 0, 0] 55 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 0, 0, 0] 44 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 44, 0, 0] 35 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 44, 35, 0] 33 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 44, 35, 33] 33 OR Late

In [19]:
# Function to calculate payment status
def payment_status(days_between_payment_due_date):
    if days_between_payment_due_date < -30:
        return "Advance payment"
    if -30 < days_between_payment_due_date <= 0:
        return "Payment on schedule"
    if 0 < days_between_payment_due_date <= 30:
        return "Late payment within 30 days"
    if 30 < days_between_payment_due_date <= 90:
        return "Late payment 30+ days but no default"
    if days_between_payment_due_date > 90:
        return "Default"

In [44]:
loan_payments = cash_position[cash_position.SK_ID_PREV == 2714724]
loan_payments.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)
loan_payments = loan_payments[["CNT_INSTALMENT_FUTURE", "SK_DPD"]]
loan_payments["PAYMENT_STATUS"] = loan_payments["SK_DPD"].apply(lambda x: payment_status(x))  

loan_payments

<ipython-input-44-d9f6c95ef3e8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_payments.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)

         CNT_INSTALMENT_FUTURE  SK_DPD               PAYMENT_STATUS
7673576                    4.0       0          Payment on schedule
8660962                    3.0       0          Payment on schedule
1860851                    2.0      15  Late payment within 30 days
2753540                    1.0      16  Late payment within 30 days
686245                     0.0       0          Payment on schedule

In [45]:
loan_payments = loan_payments[1:]
num_payments = len(loan_payments.SK_DPD)

payments_behavior = [loan_payments.SK_DPD[0:i].tolist() + [0] * (num_payments - i - 1) for i in range(0, num_payments)][1:]

next_period_status = loan_payments.PAYMENT_STATUS[1:]

payments_historical_behavior = {
    'payments_history': payments_behavior,
    'next_period_status': next_period_status
}

payments_history = pd.DataFrame(payments_historical_behavior)
payments_history

        payments_history           next_period_status
1860851        [0, 0, 0]  Late payment within 30 days
2753540       [0, 15, 0]  Late payment within 30 days
686245       [0, 15, 16]          Payment on schedule

In [36]:

# Write as a generator
def get_payments_history(cash_position_df, sk_id_prev):
    
    loan_payments = cash_position_df[cash_position_df.SK_ID_PREV == sk_id_prev]
    loan_payments.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)
    loan_payments = loan_payments[["CNT_INSTALMENT_FUTURE", "SK_DPD"]]
    loan_payments["PAYMENT_STATUS"] = loan_payments["SK_DPD"].apply(lambda x: payment_status(x))
    
    loan_payments = loan_payments[1:]
    
    payments_behavior = [loan_payments.SK_DPD[0:i].tolist() for i in range(0, len(loan_payments.SK_DPD))][1:]

    next_period_status = loan_payments.PAYMENT_STATUS[1:]

    payments_historical_behavior = {
        'payments_history': payments_behavior,
        'next_period_status': next_period_status
    }

    payments_history = pd.DataFrame(payments_historical_behavior)
    
    return payments_history

In [39]:
completed_contracts = cash_position.query("NAME_CONTRACT_STATUS == 'Completed'")['SK_ID_PREV'].unique().tolist()

final_df = pd.DataFrame()
for contract in completed_contracts:
    payment_history = get_payment_history(cash_position, contract)
    # Append to Final DF

[1298869,
 1955907,
 2714240,
 1655882,
 2567983,
 1192377,
 1752908,
 2612717,
 1921577,
 1102362,
 1329480,
 2566846,
 1464874,
 1840591,
 1622838,
 1204721,
 2373929,
 2116637,
 2789273,
 1241675,
 1692671,
 2605651,
 2315839,
 2446077,
 1012853,
 2762932,
 1034137,
 1979139,
 2166314,
 1230285,
 1869710,
 1009382,
 1652748,
 2437940,
 1118673,
 1783406,
 1649154,
 2246145,
 1643886,
 2575938,
 2243927,
 1856089,
 1765643,
 2581933,
 2769176,
 1882131,
 2366181,
 1027217,
 1772994,
 1746090,
 1873302,
 1915742,
 1849660,
 1267994,
 1226607,
 2836622,
 1305067,
 2198660,
 2497013,
 1995586,
 1818295,
 1816521,
 1636418,
 1847412,
 1548079,
 1770040,
 2166947,
 1932088,
 1176324,
 1271632,
 1002667,
 1335160,
 2404751,
 1096155,
 2064689,
 2608370,
 2504969,
 2080203,
 1794118,
 2628971,
 1756690,
 2305964,
 1133579,
 2367058,
 1837079,
 2029867,
 1540056,
 1575153,
 1513175,
 1455705,
 2706182,
 1029405,
 1493655,
 2497094,
 2415095,
 1364429,
 2056984,
 1027630,
 2618109,
 2746523,
 1665786,
 2331111,
 1766149,
 2206118,
 1823041,
 2428465,
 1370603,
 1374642,
 2141153,
 1672750,
 1431906,
 2333255,
 2226468,
 2192946,
 1515499,
 1832592,
 2272389,
 2583117,
 2054112,
 1720944,
 1621953,
 2107710,
 2636252,
 2542739,
 2745026,
 1117210,
 2697151,
 2469379,
 2194221,
 2801594,
 2451734,
 1829703,
 1751543,
 1316426,
 1774637,
 2798294,
 2792337,
 2120067,
 2291406,
 1262241,
 1651070,
 1835584,
 2805562,
 1314403,
 1646796,
 2486438,
 1975724,
 1651144,
 2459758,
 2049990,
 1053459,
 2275673,
 1866136,
 1532971,
 1137288,
 1714616,
 2527302,
 1535634,
 2561585,
 2027479,
 2269784,
 2499963,
 1420672,
 2127857,
 1365797,
 2653325,
 2793905,
 2504652,
 2011675,
 1083242,
 1646763,
 2619070,
 1035317,
 2822041,
 2218119,
 1083499,
 2565660,
 2162729,
 1143269,
 1411746,
 1055804,
 1852324,
 1436358,
 2183677,
 2173041,
 1359166,
 1714793,
 1408855,
 2504492,
 1234621,
 1086617,
 1206658,
 2567438,
 1731071,
 1335209,
 1474177,
 1923721,
 1604596,
 1232336,
 2186494,
 1007496,
 1008663,
 1087991,
 1004636,
 2646786,
 1043237,
 1053280,
 1101126,
 2177483,
 1797167,
 1288933,
 2670882,
 2397652,
 1895899,
 1712012,
 1295803,
 1671590,
 1814910,
 1110159,
 1219670,
 1660549,
 2179926,
 2574269,
 2031303,
 2790490,
 1718098,
 1373828,
 1951780,
 2120986,
 1490054,
 1209853,
 2157759,
 1771190,
 1332989,
 1059562,
 1672677,
 1298711,
 2292516,
 1265591,
 1000059,
 2413082,
 1665685,
 2482917,
 2821191,
 1156031,
 2345005,
 2141144,
 1445105,
 2666065,
 1746709,
 1417281,
 1150317,
 2477716,
 1329074,
 2332905,
 2094842,
 2283677,
 1787332,
 1517308,
 1945982,
 1668922,
 2573882,
 2842816,
 2354696,
 2203036,
 2362062,
 1449013,
 1043255,
 1730563,
 1307711,
 2048231,
 1329806,
 2238768,
 1226395,
 2030174,
 1092412,
 1231805,
 1819828,
 2707557,
 1672630,
 1747829,
 1103981,
 1872469,
 1392725,
 2189699,
 1415392,
 1438172,
 1697706,
 1547746,
 1005724,
 2720946,
 2080716,
 2526211,
 2700523,
 1513141,
 1870435,
 2727087,
 1799568,
 2622040,
 1565803,
 2522946,
 1898572,
 1569919,
 2760539,
 2270287,
 1012333,
 2713925,
 1848417,
 1078762,
 1523950,
 1465196,
 2190313,
 1423801,
 2593670,
 1036483,
 1027765,
 2272444,
 1390135,
 1238782,
 2672664,
 1923338,
 2064608,
 2756607,
 1885007,
 1672408,
 1889880,
 2570993,
 2127846,
 1111318,
 1058531,
 1460616,
 1509802,
 1891608,
 2659533,
 1775349,
 2134065,
 2803577,
 1560651,
 2584208,
 2010413,
 1756864,
 2474884,
 2696864,
 2609848,
 2713175,
 1041572,
 1128178,
 1560746,
 1776139,
 1660406,
 1137433,
 1240761,
 1743698,
 2794862,
 1523533,
 1817699,
 2610691,
 2204199,
 2788609,
 1078940,
 2542958,
 1391354,
 2017215,
 1468433,
 1184682,
 1011874,
 1843422,
 2079807,
 2759278,
 2158839,
 2363903,
 2653440,
 2353440,
 2053418,
 2404265,
 1387485,
 1243226,
 1679279,
 1801316,
 1564267,
 1950110,
 1330409,
 2504064,
 1335210,
 2137568,
 1989570,
 1131011,
 1321172,
 1784837,
 2029070,
 2306582,
 2804521,
 2228602,
 2467649,
 1211106,
 1622853,
 2264921,
 2063574,
 1464089,
 1674979,
 2774171,
 2749583,
 1750274,
 2015669,
 1949082,
 2405152,
 1255683,
 1175553,
 1897504,
 1268066,
 1802251,
 2713603,
 1475342,
 1045711,
 1283287,
 1899087,
 1183607,
 1789136,
 2631831,
 1398893,
 2194100,
 2355080,
 2571346,
 2038864,
 2002891,
 1156821,
 1031658,
 1305570,
 2253144,
 2056437,
 1051418,
 1650901,
 1985942,
 1852968,
 1844558,
 2776108,
 1829723,
 1761106,
 1338492,
 1394481,
 1329796,
 2797493,
 1334494,
 2835146,
 2227891,
 2007118,
 1920381,
 2029480,
 2657456,
 1664879,
 1426044,
 2629317,
 2660355,
 1639201,
 2240188,
 2460087,
 1165857,
 2641612,
 2778967,
 2477032,
 1232625,
 2477696,
 1398181,
 1730012,
 2812516,
 2056460,
 1683126,
 1572815,
 1779512,
 2725790,
 1377142,
 2585898,
 1486571,
 2464422,
 2427936,
 1717781,
 1561419,
 2586152,
 2761398,
 2831871,
 2234328,
 1519985,
 2432858,
 2215082,
 1323264,
 1840149,
 1238732,
 2486346,
 1735824,
 1056624,
 2104837,
 1171601,
 1405455,
 2444878,
 2184922,
 2705415,
 2238976,
 2674313,
 1041771,
 1392497,
 2536156,
 2600961,
 2206060,
 2429180,
 2693450,
 2536942,
 1573636,
 2383024,
 1488017,
 1877387,
 1467847,
 2353911,
 1239499,
 2817483,
 1622230,
 2733485,
 1880170,
 2253404,
 1541719,
 1055945,
 1817499,
 1152505,
 2347869,
 2291742,
 1820767,
 2476084,
 2647852,
 1905512,
 1314198,
 1584547,
 2756274,
 2029292,
 1690726,
 1079356,
 2777156,
 2371174,
 1384909,
 2153369,
 2123346,
 1622633,
 1107004,
 1747372,
 1519746,
 1984388,
 1225988,
 1767640,
 1413810,
 1936901,
 2139051,
 2271724,
 1113431,
 1812333,
 2082776,
 1057611,
 1973022,
 1282212,
 2077578,
 2496954,
 2762196,
 1775509,
 1157077,
 1561980,
 1975122,
 1690896,
 2310235,
 1493876,
 2751274,
 1474085,
 1600424,
 2181885,
 2404694,
 2320330,
 1697796,
 2339822,
 1394577,
 2558999,
 2168860,
 2730447,
 1042043,
 2795088,
 2666208,
 2460005,
 2553989,
 2264972,
 2314240,
 1496639,
 2505182,
 1031569,
 2273588,
 1856108,
 2730180,
 1683363,
 1281722,
 1782435,
 1752372,
 1461757,
 2018648,
 2682513,
 2304699,
 1865568,
 2623187,
 1395334,
 1239699,
 2320956,
 1001795,
 1308127,
 2051327,
 1648954,
 1054330,
 1157861,
 2242853,
 1198379,
 2180918,
 2032484,
 2597142,
 1499560,
 2578194,
 2016329,
 1459379,
 1875279,
 2671118,
 2432656,
 1500141,
 1696341,
 2274178,
 2140724,
 2120117,
 2141412,
 1925611,
 1286360,
 2635328,
 2574241,
 1668868,
 1466194,
 1769855,
 2696490,
 1194380,
 2119363,
 2234543,
 1898255,
 1814917,
 1074835,
 1586393,
 1966566,
 2287743,
 2199335,
 1682493,
 2833468,
 1312533,
 2383321,
 2293350,
 1084171,
 1437730,
 1679164,
 1105375,
 1595321,
 2765204,
 1836743,
 1691173,
 2773985,
 1999181,
 2007231,
 1054268,
 1106321,
 2618785,
 1972717,
 1356184,
 1739589,
 1792496,
 2738339,
 1242233,
 1784113,
 2251314,
 1495627,
 1744353,
 1486123,
 1521782,
 2092747,
 2349910,
 1515553,
 1609514,
 2385712,
 2730571,
 2079420,
 1386974,
 1756446,
 1889593,
 1731250,
 1814678,
 2050376,
 2370603,
 2345850,
 2086816,
 1528137,
 1961791,
 1624711,
 2191228,
 1597898,
 2458075,
 1356457,
 1328117,
 2328174,
 1129956,
 1368469,
 2571008,
 1697766,
 2075366,
 1575772,
 1568934,
 2305133,
 1435277,
 2378033,
 2696935,
 1953992,
 2085719,
 1243184,
 1214497,
 1059013,
 2142942,
 1831491,
 2701568,
 1356020,
 2240106,
 1676319,
 2621502,
 1338228,
 2813941,
 2653140,
 1239375,
 1815215,
 2366593,
 2778261,
 1185721,
 1006381,
 2809279,
 1488112,
 1277515,
 2837463,
 1825648,
 1877731,
 1549738,
 1410077,
 1490100,
 1231469,
 2522435,
 1436756,
 1315237,
 2079112,
 1488462,
 1824155,
 2057598,
 1659641,
 1649344,
 2829539,
 1101979,
 2746268,
 1905352,
 2272415,
 2725658,
 1844250,
 1618307,
 1009702,
 2206469,
 2191178,
 2186730,
 2149251,
 1985074,
 1067545,
 1800035,
 2033581,
 2776548,
 2558400,
 1311686,
 1169491,
 1605012,
 1204625,
 2543457,
 1126421,
 2481936,
 1776391,
 1577881,
 1214212,
 2646724,
 2578324,
 2789856,
 2100566,
 2309545,
 1499926,
 2256206,
 1748401,
 1994321,
 2235221,
 1821821,
 2344565,
 1338713,
 2133289,
 2214770,
 1176553,
 1691139,
 2018233,
 2180845,
 1189936,
 2556972,
 1367648,
 1294534,
 2284495,
 2709203,
 2681941,
 1863172,
 1290013,
 2115865,
 1009510,
 2369624,
 1519929,
 1488491,
 1469649,
 2843001,
 1594701,
 1789402,
 2239887,
 2063584,
 1758615,
 2763366,
 1787560,
 2007785,
 2405139,
 1729568,
 2140737,
 1409714,
 2513554,
 2108360,
 2214880,
 1441809,
 1445533,
 1322843,
 2691519,
 2122868,
 1964498,
 1386055,
 1767239,
 1963627,
 1682383,
 1595137,
 2485627,
 1877526,
 2579674,
 2115946,
 2412328,
 1684440,
 1440916,
 2002211,
 2701348,
 2552916,
 2507562,
 2443874,
 1094784,
 1499446,
 2570423,
 2682662,
 1154366,
 2257832,
 2478045,
 2416769,
 1516081,
 1337624,
 2464361,
 1602379,
 1974424,
 1545604,
 1752299,
 1490706,
 1806128,
 1818409,
 2028430,
 1071103,
 1411079,
 2644515,
 1895797,
 1385282,
 2383247,
 2791481,
 1459540,
 2755444,
 1201347,
 1459394,
 1307063,
 2713164,
 2479978,
 1824809,
 2315603,
 2457994,
 1777562,
 1008609,
 2379962,
 1019092,
 2246900,
 2690265,
 1190525,
 1380919,
 1182917,
 2623035,
 2471868,
 1463071,
 2644166,
 1101476,
 2450472,
 1224801,
 1439906,
 1193873,
 2211381,
 2374000,
 1826795,
 1424573,
 2532472,
 1454983,
 2153878,
 1545374,
 2775835,
 1402960,
 1029674,
 2746670,
 2030485,
 1852808,
 1135117,
 1207004,
 2049792,
 2466426,
 1100244,
 2158081,
 1188304,
 1686938,
 1363006,
 1597542,
 1538642,
 1944552,
 1020490,
 2044915,
 1010741,
 2765418,
 1388433,
 2748823,
 1005156,
 1537630,
 1260410,
 1254611,
 2635798,
 1012993,
 2342102,
 2644112,
 1092067,
 2572697,
 1978767,
 1872032,
 1107784,
 1375020,
 1919488,
 2825081,
 1622913,
 1160139,
 2818933,
 1665035,
 2410811,
 2491457,
 1077955,
 1058640,
 1866394,
 2248112,
 1346037,
 1384269,
 1424983,
 1438933,
 2643874,
 1752856,
 1380674,
 1287758,
 1145818,
 2288339,
 1182287,
 1597272,
 2843305,
 1308349,
 1986128,
 2467074,
 2632654,
 2339802,
 1932743,
 2677532,
 2660631,
 2430225,
 1461657,
 1498902,
 1424092,
 2641539,
 1753099,
 1765747,
 1359574,
 2610724,
 2809265,
 2314068,
 2584486,
 ...]