In [1]:
import pandas as pd


payments = pd.read_csv("data/home_credit/installments_payments.csv")
cash_position = pd.read_csv("data/home_credit/POS_CASH_balance.csv")

In [2]:
# Inspecting the data
payments.head(10)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470

In [9]:
cash_position.head(10)
cash_position.NAME_CONTRACT_STATUS.unique()

array(['Active', 'Completed', 'Signed', 'Approved',
       'Returned to the store', 'Demand', 'Canceled', 'XNA',
       'Amortized debt'], dtype=object)

In [6]:
# Observing the behavior of a single previous loan
data_single_loan = payments[payments['SK_ID_PREV'] == 2714724]
data_single_loan.sort_values(by=['NUM_INSTALMENT_NUMBER'], inplace=True)
data_single_loan["payments_due_days"] = (data_single_loan.DAYS_ENTRY_PAYMENT - data_single_loan.DAYS_INSTALMENT)

print(data_single_loan)

         SK_ID_PREV  SK_ID_CURR  NUM_INSTALMENT_VERSION  \
2843935     2714724      167756                     1.0
4           2714724      167756                     1.0
1786772     2714724      167756                     1.0
422906      2714724      167756                     1.0
2998490     2714724      167756                     1.0
2201494     2714724      167756                     2.0

         NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  \
2843935                      1          -1413.0             -1421.0
4                            2          -1383.0             -1366.0
1786772                      2          -1383.0             -1421.0
422906                       3          -1353.0             -1366.0
2998490                      3          -1353.0             -1336.0
2201494                      4          -1323.0             -1336.0

         AMT_INSTALMENT  AMT_PAYMENT  payments_due_days
2843935         2165.04     2165.040               -8.0
4               2165.04     2160.585               17.0
1786772         2165.04        4.455              -38.0
422906          2165.04        8.415              -13.0
2998490         2165.04     2156.625               17.0
2201494         9691.29     9691.290              -13.0

<ipython-input-6-f1b7d74ca553>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_single_loan.sort_values(by=['NUM_INSTALMENT_NUMBER'], inplace=True)
<ipython-input-6-f1b7d74ca553>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_single_loan["payments_due_days"] = (data_single_loan.DAYS_ENTRY_PAYMENT - data_single_loan.DAYS_INSTALMENT)

In [8]:
cash_position_single_loan = cash_position[cash_position['SK_ID_PREV'] == 2714724]
cash_position_single_loan.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)

print(cash_position_single_loan)

         SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  CNT_INSTALMENT  \
7673576     2714724      167756             -47             8.0
8660962     2714724      167756             -46             8.0
1860851     2714724      167756             -45             8.0
2753540     2714724      167756             -44             8.0
686245      2714724      167756             -43             4.0

         CNT_INSTALMENT_FUTURE NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
7673576                    4.0               Active       0           0
8660962                    3.0               Active       0           0
1860851                    2.0               Active      15          15
2753540                    1.0               Active      16          16
686245                     0.0            Completed       0           0

<ipython-input-8-598bc0cda353>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cash_position_single_loan.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)

In [6]:
contracts_in_default = cash_position.query("SK_DPD >= 30")

print(f'Total number of contracts in default area {contracts_in_default.SK_ID_PREV.nunique()}')

Total number of contracts in default area 8678

In [15]:
contracts_canceled = cash_position.query("NAME_CONTRACT_STATUS == 'Canceled'")

print(f'Total number of contracts in default area {contracts_canceled.SK_ID_PREV.nunique()}')

contracts_canceled.head(20)

Total number of contracts in default area 15

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
972025,2200360,256843,-6,NaN,NaN,Canceled,0,0
3804943,2762733,307509,-37,12.0,12.0,Canceled,0,0
4727178,1720362,387292,-19,NaN,NaN,Canceled,0,0
5018718,1531600,103793,-28,NaN,NaN,Canceled,0,0
7348078,2239989,347381,-2,NaN,NaN,Canceled,0,0
7556193,2134263,366250,-8,NaN,NaN,Canceled,0,0
7617341,2122901,390665,-3,NaN,NaN,Canceled,0,0
8255924,1287451,408925,-14,NaN,NaN,Canceled,0,0
8284174,1179494,186302,-57,11.0,11.0,Canceled,0,0
8433676,1176218,253007,-23,NaN,NaN,Canceled,0,0
9406687,1071058,382630,-29,24.0,24.0,Canceled,0,0
9512226,1546576,397946,-3,NaN,NaN,Canceled,0,0
9530721,1976128,349795,-18,NaN,NaN,Canceled,0,0
9580616,1764746,256152,-29,NaN,NaN,Canceled,0,0
9856282,1160113,236646,-2,NaN,NaN,Canceled,0,0

In [17]:
# Build the sequence of payments days and the next payment installment situation

# Para cada SK_ID_PREV:
### ordenar os pagamentos
### montar a sequencia de pagamentos ate t-1 e o resultado em t
### e.g: (para SK_ID_PREV == 1054186)
#### [8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0] 5 OR On-time
#### [8, 7, 5, 0, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 5, 7, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 5, 7, 7, 0, 0, 0, 0, 0, 0] 7 OR On-time
#### [8, 7, 5, 7, 7, 7, 0, 0, 0, 0, 0] 25 OR On-time
#### [8, 7, 5, 7, 7, 7, 25, 0, 0, 0, 0] 55 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 0, 0, 0] 44 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 44, 0, 0] 35 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 44, 35, 0] 33 OR Late
#### [8, 7, 5, 7, 7, 7, 25, 55, 44, 35, 33] 33 OR Late

In [ ]:
# Function to calculate payment status
def payment_status(days_between_payment_due_date):
    if days_between_payment_due_date < -30:
        return "Advance payment"
    if -30 < days_between_payment_due_date <= 0:
        return "Payment on schedule"
    if 0 < days_between_payment_due_date <= 30:
        return "Late payment within 30 days"
    if 30 < days_between_payment_due_date <= 90:
        return "Late payment 30+ days but no default"
    if days_between_payment_due_date > 90:
        return "Default"

In [ ]:

# Write as a generator
def get_payments_history(cash_position_df, sk_id_prev):
    
    # Select columns in both data frames to get just the exact needed amount of data
    # Filter sk_id_prev in payments_df    
    loan_payments = cash_position_df[cash_position_df.SK_ID_PREV == sk_id_prev]
    loan_payments.sort_values(by=['CNT_INSTALMENT_FUTURE'], ascending=False, inplace=True)
    loan_payments = loan_payments[["CNT_INSTALMENT_FUTURE", "SK_DPD"]]
    loan_payments["PAYMENT_STATUS"] = loan_payments["SK_DPD"].apply(lambda x: payments_status(x))   
    
    ### montar a sequencia de pagamentos ate t-1 e o resultado em t
    ### e.g: (para SK_ID_PREV == 1054186)
    #### [8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
    #### [8, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0] 5 OR On-time
    #### [8, 7, 5, 0, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
    #### [8, 7, 5, 7, 0, 0, 0, 0, 0, 0, 0] 7 OR On-time
    #### [8, 7, 5, 7, 7, 0, 0, 0, 0, 0, 0] 7 OR On-time
    #### [8, 7, 5, 7, 7, 7, 0, 0, 0, 0, 0] 25 OR On-time
    #### [8, 7, 5, 7, 7, 7, 25, 0, 0, 0, 0] 55 OR Late
    #### [8, 7, 5, 7, 7, 7, 25, 55, 0, 0, 0] 44 OR Late
    #### [8, 7, 5, 7, 7, 7, 25, 55, 44, 0, 0] 35 OR Late
    #### [8, 7, 5, 7, 7, 7, 25, 55, 44, 35, 0] 33 OR Late
    #### [8, 7, 5, 7, 7, 7, 25, 55, 44, 35, 33] 33 OR Late

In [ ]:
completed_contracts = cash_position.query("NAME_CONTRACT_STATUS == 'Completed'")